<!-- start of banner wrapper -->

<div id="templatemo_banner_wrapper">
    <div id="templatemo_banner">
    
        <div id="templatemo_banner_image">
            <div id="templatemo_banner_image_wrapper">
                <img src="img/templatemo_image_01.jpg" alt="image 1" />
            </div>
        </div>
        
        <div id="templatemo_banner_content">
            <div class="header_01">Cuelogic Technologies </div>
            <p>One place for wonderful apps. </p>
            <div class="button_01"><a href="#">Read more</a></div>
        </div>  
    
        <div class="cleaner"></div>
    </div> <!-- end of banner -->
</div> <!-- end of banner wrapper -->